<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
<footer class="bg-light text-center text-lg-start">

  <div class="container p-4">

    <div class="row">

      <div class="col-lg-6 col-md-12 mb-4 mb-md-0">

        <img src="path-to-your-logo.png" alt="Logo" class="footer-logo">

      </div>

      <div class="col-lg-6 col-md-12 mb-4 mb-md-0 text-right">

        <a href="https://www.facebook.com" class="btn btn-primary btn-floating m-1" style="background-color: #3b5998;" role="button"><i class="fab fa-facebook-f"></i></a>

        <a href="https://www.instagram.com" class="btn btn-primary btn-floating m-1" style="background-color: #ac2bac;" role="button"><i class="fab fa-instagram"></i></a>

        <a href="https://www.twitter.com" class="btn btn-primary btn-floating m-1" style="background-color: #55acee;" role="button"><i class="fab fa-twitter"></i></a>

      </div>

    </div>

    <hr class="my-4">

    <div class="row">

      <div class="col-lg-4 col-md-12 mb-4 mb-md-0">

        <h5 class="text-uppercase">Info</h5>

        <ul class="list-unstyled mb-0">

          <li><a href="#!" class="text-dark">À propos</a></li>

          <li><a href="#!" class="text-dark">Carrière</a></li>

          <li><a href="#!" class="text-dark">Postuler</a></li>

          <li><a href="#!" class="text-dark">Blog</a></li>

        </ul>

      </div>

      <div class="col-lg-4 col-md-12 mb-4 mb-md-0">

        <h5 class="text-uppercase">Legal</h5>

        <ul class="list-unstyled mb-0">

          <li><a href="#!" class="text-dark">À propos</a></li>

          <li><a href="#!" class="text-dark">Carrière</a></li>

          <li><a href="#!" class="text-dark">Postuler</a></li>

          <li><a href="#!" class="text-dark">Blog</a></li>

        </ul>

      </div>

      <div class="col-lg-4 col-md-12 mb-4 mb-md-0">

        <h5 class="text-uppercase">Newsletter</h5>

        <div class="form-outline form-white mb-4">

          <input type="email" id="form5Example2" class="form-control" placeholder="Adresse e-mail"/>

          <button type="submit" class="btn btn-outline-dark mt-4">S'inscrire</button>

        </div>

      </div>

    </div>

  </div>

  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">

    © 2023 Tous droits réservés

  </div>

</footer>
