<form enctype="multipart/form-data" class="needs-validation" novalidate (ngSubmit)="onSubmit()">

  <div class="mb-3">

    <label for="productName" class="form-label">Nom du produit</label>

    <input type="text" class="form-control" id="productName" required [(ngModel)]="newProduct.name" name="name">

    <div class="invalid-feedback">

      Veuillez entrer un nom de produit.

    </div>

  </div>

  <div class="mb-3">

    <label for="productDescription" class="form-label">Description</label>

    <textarea class="form-control" id="productDescription" required [(ngModel)]="newProduct.description" name="description"></textarea>

    <div class="invalid-feedback">

      Veuillez entrer une description du produit.

    </div>

  </div>

  <div class="mb-3">

    <label for="productPrice" class="form-label">Prix unitaire</label>

    <input type="number" class="form-control" id="productPrice" required [(ngModel)]="newProduct.unitePrice" name="unitePrice">

    <div class="invalid-feedback">

      Veuillez entrer un prix.

    </div>

  </div>

  <div class="mb-3">

    <label for="productStock" class="form-label">Quantité en stock</label>

    <input type="number" class="form-control" id="productStock" required [(ngModel)]="newProduct.unitsInStock" name="unitsInStock">

    <div class="invalid-feedback">

      Veuillez entrer la quantité en stock.

    </div>

  </div>

  <div class="mb-3">

    <label for="productImage" class="form-label">Image du produit</label>

    <input type="file" class="form-control" id="productImage" required (change)="onFileSelect($event)" name="img">

    <div class="invalid-feedback">

      Veuillez télécharger une image du produit.

    </div>

  </div>

  <button type="submit" class="btn btn-primary">Ajouter le produit</button>

</form>